@media(min-width:321px) and (max-width:747px){
    .banner{
        background-image: url(../images/Vector\ Smart\ Object-tab.jpg);
        
    }
    
}

    
@media(min-width:768px){
    .banner{
        background-image: url(../images/Vector\ Smart\ Object.jpg);
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 16px;
        margin-bottom: 150px;
    }
    .nav-items, .site-logo{
        margin-bottom: 0;
    }
    .holiday-dreams{
        font-size: 52px;
        margin-bottom: 40px;
    }
    .find-partner{
        margin-bottom: 30px;
    }
    .meet-partner{
        width: auto;
        margin-bottom: 35px;
    }
    .partners-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;        
        margin: 0 auto;
    }
    li + .photo2{
        order: 3;
    }
    li + .photo3{
        order: 2;
    }
    li + .photo4{
        order: 4;
    }    
}
@media(min-width:321px){
    .header{
        min-height: 700px;
    }
}

@media(min-width:940px){
    .navigation{
        padding-left: 0px;
        padding-right: 20px;
    }
    .partners-list{        
        width: 940px;        
    }
    .section{
        padding-bottom: 73px;
    }
}

@media(min-width:768px) and (max-width:939px){
    .partners-list{        
        width: 492px;        
    }
    .photo2{
        order: 3;
    }
    .photo3{
        order: 2;
    }
    .photo4{
        order: 4;
    }
}