.container{
    width: 1110px;
    margin: 0 auto;
    }
.menu-section{
    padding-top: 38px;
    padding-bottom: 98px;
   }
/* .page-nav{
   padding-top: 4px;
} */
.site-logo{
    display: inline-block;
    font-family: 'Roboto', serif;
    font-size: 30px;
    font-weight: 400;
    color: #555252;
    line-height: 32px;    
    text-transform: uppercase;
    text-decoration: none;
}
.site-logo::first-letter{
    color: #1abc9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.site-logo{
    /* display: inline-block; */
    /* max-width: 100%; */
    height: auto;
}
.site-navigation{
    margin: 0;
    padding-left: 0;
    padding-top: 6px;
    font-size: 15px;
    list-style: none;
    float:right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
   }
   
.site-navigation a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0101;
}
.site-navigation a:hover,
.site-navigation a:focus{
    color: #1abc9c;
}
.site-navigation li{
    float: left;
    }
.site-navigation li:not(:last-child){
    margin-right: 34px;
}
.products{
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
h2{
    margin: 0;
    margin-bottom: 130px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    /* line-height: 35px; */
    color: #515151;
    text-align: center;
    text-transform: uppercase;
    }
h2::after{
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    margin: 0 auto;
    margin-top: 32px;
    }
.product-items{
    margin: 0;
    padding: 0;
}
.product-items li{
    list-style: none;
    float: left;
    width: 255px;
    }
.product-items li:not(:nth-child(4n)){
    margin-right: 30px;
}
.product-items li:nth-child(-n+4){
    margin-bottom: 30px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.product-name{
    margin: 0;
    box-sizing: border-box;
    /* display: block; */
    float: left;
    width: 202px;
    height: 40px;
    padding: 10px 70px 10px 14px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}
.item-price{
    box-sizing: border-box;
    margin: 0;
    padding-top: 10px;
    float: right;
    font-size: 16px;
    color: #ffffff;
    background-color: #8c8c8c;
    width: 53px;
    height: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.menu-item:hover .product-name{
    background-color: #1abc9c;
}
.menu-item:hover .item-price{
    background-color: #7fd9c7;
}

/* SECTION TWO */
.blogs{
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}
.blogs h2{
    margin-bottom: 115px;
}
.blog-items{
    margin-top: 0;
    padding: 0;
    }
.blog-items li{
    width: 350px;
    list-style: none;
    float: left;
  }
/* .blog-items li:not(:last-child){
    margin-right: 30px;
} */
.news{
    margin: 0;
}
.news:not(:last-child){
    margin-right: 30px;
}
.blog-item-announce{
    margin: 0;
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    }
.blog-item-announce::after{
    display: block;
    content: '';
    width: 136px;
    height: 2px;
    background-color: #4ec6ab;
    margin-top: 14px;
    }
.text{
    margin-top: 26px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.button{
    display: block;
    width: 160px;
    height: 52px;
    background-color: #4ec6ab;
    border-radius: 5px;
    font-size: 16px;
    line-height: 52px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
   }
.button:hover{
    cursor: pointer;
}  
    




