*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.site-navigation{
    display: flex;   
    align-items: flex-end;
    justify-content: space-between;
    /* margin-bottom: 110px; */
    padding-top: 28px;
    padding-bottom: 110px;
    
}
.site-logo{
    text-decoration: none;
    font-size: 30px;    
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3; 
   
}
.nav-menu{
    display: flex;
    list-style: none;
    width: 491px;
    justify-content: space-between;
    
}
.menu-link{
    display: block;
    /* margin-bottom: 12px; */
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3; 
    line-height: 17px; 
    text-transform: uppercase;
}
.menu-link::after{
    display: block;
    content: '';
    /* margin-top: 12px;    */
    width: 0%;
    height: 3px;   
    background-color: transparent;
    /* background-color: #f38181; */
    margin-top: 6px;
    transition-property: width;
    transition-duration: 200ms;
    transition-timing-function: linear;
    
}
.menu-link:hover, .menu-link:focus{
    color: #f38181;
    cursor: pointer;    
}
.menu-link:hover::after{  
    width: 100%;  
    background-color:#f38181;   
    transition-property: width;
    transition-duration: 200ms;
    transition-timing-function: linear;
    /* transform: scaleX(1); */
}


/* SECTION SERVICES */

.preface{
    display: block;
    text-align: center;
    /* height: 150px; */
    align-items: flex-end;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}
h2{
    display: block;
    margin-bottom: 70px;
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
h2::after{
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: auto; 
    margin-top: 40px;
        
}
.icon{    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;      
    text-align: left;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px; 
}

.services-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding-left: 10px;

}
.servis-item{    
    width: 383px;    
    position: relative;
    padding-left: 83px;
}
.servis-item:nth-child(-n+3){
    margin-bottom: 100px;
}
.services{
    padding-bottom: 100px;
}
.servis-item::before{
    position: absolute;
    left: 0px;
    content: '';
    display: block;
    width: 83px;
    height: 32px;
   background-repeat: no-repeat;
   background-position: center;
}

.photo-icon::before{
    background-image: url(../images/icons/photo.png);
}
.web-icon::before{
    background-image: url(../images/icons/web.png);
}
.creativity-icon::before{
    background-image: url(../images/icons/creativity.png);
    height: 28px;
}
.seo-icon::before{
    background-image: url(../images/icons/seo.png);
}

.css-icon::before{
    background-image: url(../images/icons/css.png);
    height: 31px;
}

.digital-icon::before{
    background-image: url(../images/icons/Digital.png);
}


/* SECTION TEAM */

.introduction{
    display: block;
    margin: 0 130px;   
    text-align: center;
    margin-bottom: 92px;
}
.our-team{
    padding-bottom: 82px;
}

.team-list{
    display: flex;
    justify-content: space-between;    
    list-style: none;
}
img{
   
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team-member-card:hover img{    
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;    
    transition-duration: 0.2s;
    transition-timing-function: linear;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
    margin-bottom: 12px;
}
.name{
    text-align: center;
}
.occupation{
    text-align: center;
}
.team-member-card{
    position: relative;
    transition-duration: 0.2s;
}
.background{
    position: absolute;
    top: 0;
    width: 380px;
    height: 470px;    
   
    background: linear-gradient(to bottom, rgba(237, 136, 137, 0.9), rgba(229, 209, 130, 0.9));
    opacity: 0; 
   

}
.team-member-card:hover .background{   
    transform: translate(-10px, -10px);      
    transition-duration: 0.2s;
    transition-timing-function: linear;
    /* background: linear-gradient(#ef8a8a, #edd687); */
    background: linear-gradient(to bottom, rgba(237, 136, 137, 0.9), rgba(229, 209, 130, 0.9));
    opacity: 1;
} 
.social-item-btn a{
    display: block;    
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    background-position: center;
    
}
.social-items-list li:not(:last-child){
    margin-right: 2px;
}
.social-items-list{
    position: absolute;
    left: 84px;
    top: 207px;    
    display: flex;
    justify-content: space-between;    
    list-style: none;
       
}
.facebook a{
    background-image: url(../images/facebook.png);
    background-repeat: no-repeat;
}
.twitter a{
    background-image: url(../images/twitter.png);
    background-repeat: no-repeat;
}
.pinterest a{
    background-image: url(../images/pinterest.png);
    background-repeat: no-repeat;
}
.insta a{
    background-image: url(../images/instagram.png);
    background-repeat: no-repeat;
}

.facebook a:hover, .twitter a:hover, .pinterest a:hover, .insta a:hover {
    background-color: #95e1d3;
}

/*  FOOTER  */
footer{
    height: 62px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    align-items: center;
}  

.subscribtion{    
    width: 150px;
    height: 40px;
    border: none;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 14px;
    color: #ffffff;
    cursor: pointer;
} 
.entity{
    color: #f38181;
    text-decoration: none;
} 
    
