.box-wrap{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    background-color: brown;
    background-color:
}
.box{
    display: inline-block;
    background: rgba(256,256.256,.14);
    background-image: linear-gradient(to bottom left,#333 45%,#fff 55%);
    width: 400px;
    min-height: 400px;

}
.box:nth-child(odd){
    background-image: linear-gradient(to bottom right, #333 45%, #fff 55%);

}
p{
    font-size: 21px;
}
p::before{
    content: "\00ab";

}
p::after{
    content: "\00bb";
}